
.tall-navbar-container {
    background: rgba(20, 20, 20, 0.85);
    border-radius: 14px;
    box-shadow: $shadow;
    backdrop-filter: blur(3px);
    border-bottom: 2px solid $color1;
    
    position: fixed; /* Fixe en haut de la page */
    top: 0; /* Collé en haut */
    left: 0;
    width: 100%;
    z-index: 999; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}
  
.logo-container img {
    width: 50px; 
    margin-left: 50px ;
}
  
.link-container {
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
.tall-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 20px ;
    margin-left: 20px;

}
  
.tall-nav-link {
    margin: 0 50px;
    position: relative; 
    color: $white1;
}
.home {
    color: $white1;
}

.tall-nav-link:hover{
    color: $red1;
}
  
.tall-nav-link:hover .tall-sub-menu {
    display: block; /* Affiche le sous-menu au survol */
}
  
.tall-sub-menu {
    list-style: none;
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: white; 
    padding: 10px; 
    border: 2px solid $color1; 
    border-radius: 14px;
    z-index: 1000;
}
  
.tall-sub-link {
    display: block; 
    text-decoration: none; 
    color: black; 
    padding: 5px;
}
  
.tall-sub-link:hover {
    background-color: red; /* Fond rouge au survol */
    color: white; /* Texte blanc au survol */
    border-radius: 6px;
}

@media (max-width: 768px) {
  .logo-container img {
    width: 40px; /* Réduit la taille du logo pour les appareils mobiles */
  }
  
  .tall-nav-link {
    margin: 0 10px; /* Réduit encore plus l'espace entre les liens */
  }
}
  
